body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th, td {
    border: 2px solid #3d3b6d;
    padding: 8px;
    text-align: left;
}

.invoice-header {
    background-color: #c5e3ec;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
}

.invoice-info {
    background-color: #3d3b6d;
    color: white;
    font-weight: bold;
}

.payment-dts {
    background-color: #a4f2be;
    font-weight: bold;
}

tbody  tr {
    background-color: #ecebd8;  
}

tfoot {
    background-color: #3d3b6d;
    color: white;
    font-weight: bold;
}

.user-form {
    border: 2px solid #3d3b6d;
}

.user-form th {
    background-color: #c5e3ec;
    font-weight: bold;
    text-align: center;
}

.user-form td {
    padding: 10px;
}

input[type="text"], textarea, select {
    width: 80%;
    padding: 2px;
}

.form-submit-button {
    background-color: #c5e3ec;
    color: #000000;
    padding: 10px;
    border: none;
    font-size: 16px;
    width: 100%;
    
}




